<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>


<body>
	<!-- include Header -->
	<%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/profile" method="get" class="form">
					<div class="divForms">
						<label class="label" for="">Usuario:</label>
						<input placeholder="Email" type="email" name="email" id="" required>
					</div>
					<div class="divForms">
						<label class="label" for="">Contraseña:</label>
						<input placeholder="Contraseña" type="password" name="password" id="" required>
					</div>
					<div class="divForms">
						<label class="label" for="">Recordarme</label>
						<input type="checkbox" name="Recordarme" id="">
					</div>
					<button class="button" type="submit">Iniciar sesion</button>
				</form>
			</h2>


	<!-- Inlcude footer -->
	<%- include('partials/footer') %>
</body>

</html>