<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>


<body>
	<!-- include Header -->
	<%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<div class="moveit">
					<form action="/profile/processLogin" method="POST" class="formladob">
						<div class="divForms">
							<label class="label" for="">Usuario:</label>
							<input placeholder="Email" type="email" name="email" id="" required>
						</div>
						<div class="divForms">
							<label class="label" for="">Contraseña:</label>
							<input placeholder="Contraseña" type="password" name="password" id="" required>
						</div>
						<div class="divForms">
							<label class="label" for="tyc">Recordarme:</label>
							<input type="checkbox" name="tyc" id="tyc">
						</div>
						<button class="button" type="submit">Iniciar sesion</button>

					</form>
				</div>
				
			</h2>


	<!-- Inlcude footer -->
	<%- include('partials/footer') %>
</body>

</html>