<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Include HeaderLogueado -->
	<%- include('partials/headerLogeado') %>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/product-add" method="get" class="formProductAdd">
					<label for="">Imagen:</label>
					<input placeholder="Imagen" type="file" name="Imagen" id="">
					<label for="">Nombre del producto:</label>
					<input placeholder="Producto" type="text" name="producto" id="" required>
					<label for="">Descripcion:</label>
					<input placeholder="Descripcion" type="text" name="Descripcion" id="" required>
					<button type="submit">Agregar producto</button>
				</form>
			</h2>


	<!-- Include footer -->
	<%- include('partials/footer') %>
</body>

</html>