<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Include Header -->
    <%- include('partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/profile" method="get" class="formRegister">
					<label for="">Email:</label>
					<input placeholder="Email" type="email" name="email" id="" required>
					<label for="">Usuario:</label>
					<input placeholder="Nombre de usuario" type="text" name="usuario" id="" required>
					<label for="">Contreseña:</label>
					<input type="password" name="contresena" id="" required>
					<label for="">Fecha de nacimiento:</label>
					<input type="date" name="Fecha" id="" required>
					<label for="">Numero de documento:</label>
					<input type="number" name="documento" id="" required>
					<label for="">Foto de perfil:</label>
					<input type="text" name="foto" id="">
					<button type="submit" >Registrarse</button>
				</form>
			</h2>


	<!-- Include footer -->
	<%- include('partials/footer') %>
</body>

</html>